<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&family=Pacifico&family=Poppins:wght@200;400;500&family=Roboto:ital,wght@1,100&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- style.css  -->
    <link rel="stylesheet" href="./css/Home_Categories_LetestProducts.css" />

    <!-- fontawesome cdn link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
      crossorigin="anonymous"
    />

    <title>BIDnBUY</title>
  </head>
  <body>
    <!-- ==============header menu section starts here============== -->
    <section class="header_menu" id="header_menu">
      <div class="container-fluid px-0 shadow">
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-3">
          <a class="navbar-brand pl-5 pl-small-0" href="/">
            <img
              src="HomeImages/bidlogo.jpg"
              class="img img-fluid"
              width="100px"
              alt="logo"
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item active">
                <!-- <% if(locals.logout){%>
            <a class="nav-link" href="/Home" id="a_3"><%= logout%></a>
            <%}%> -->
                <% if(locals.username){%>
                <a class="nav-link" id="a_1"
                  ><%= locals.username? 'Hi, '+ username:'Sign in' %>
                </a>
                <%}else{%>
                <a class="nav-link" href="/login" id="a_1"
                  ><%= locals.username? 'Hi, '+ username:'Sign in' %>
                </a>
                <%}%>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/products" id="a_2">Products</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" href="/Categories" id="a_3">Category</a>
              </li> -->

              <li class="nav-item active">
                <a class="nav-link" href="/AddingProducts" id="a_3">Admin</a>
              </li>

              <li class="nav-item active">
                <a class="nav-link" href="/profile" id="a_3">Profile</a>
              </li>

              <li class="nav-item">
                <% if(locals.username){%>
                <a class="nav-link" href="/logout" id="a_1"><%= 'Logout' %> </a>
                <%}%>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
    <!-- ==============header menu section ends here============== -->

    <% products.forEach(function (product) { %>
    <form action="">
      <div class="bg-info">
        <div class="row text-center w-80 mx-auto justify-content-center">
          <div class="col-sm-5 mb-5">
            <div class="card">
              <img
                src="<%= product.src %>"
                class="card-img-top w-100"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title"><%= product.title %></h5>
                <p class="card-text"><%= product.description %></p>
                <a
                  type="number"
                  href="/VintageCar/<%=product._id%>"
                  class="btn btn-primary"
                  >₹ <%= product.price %></a
                >
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </form>
  </body>
</html>
